@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tamma 2', cursive;
}
nav{
    background-color: black;
    color: bisque;
    height: 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
nav ul{
    list-style: none;
}
.game-body{
    background-color: bisque;
    padding-top: 50px;
    height: 100vh;
}
.gameContainer{
    display: flex;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: sans-serif;
    position: relative;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(247, 206, 152);
}
.info{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}
.gameInfo{
    padding: 34px 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}
.gameInfo h1{
    font-size: 2.5rem;
    margin-bottom: 40px;
}
.imgbox .img{
    width: 0;
    transition:  width 1s ease-in-out;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset {
    margin: 0 23px;
    padding: 6px 70px;
    background: black;
    color: beige;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 15px;
    font-weight: bolder;
}
#reset:hover{
    background: beige;
    color: black;
}
.line{
    height: 3px;
    width: 0vw;
    position: absolute;
    background-color: brown;
    transition: width 1s ease-in-out;
}
@media screen and (max-width: 950px) {
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .info{
        display: block;
    }
    .gameInfo h1{
        font-size: 25px;
    }
    .container{
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);
    }
    .line{
        display: none;
    }
}
